body {
  width: 100%;
}

header{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;

}

h2 {
  width: 100%;
}

img {
  width: 33%;
  object-fit: contain;
  height: 67%;
  

}

p {
  width: 65%;
  margin: auto;
}

.single-image {
  float: left;
  width: 33%;
  height: 220px;
  text-align: center;
}

.gallery{
  max-width: 960px;
}

footer{
  clear: both;
  text-align: center;
}